*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
img{
    width: 5rem;
    height: 5rem;
}
#img{
    margin-left: 2em;
}
.img{
    position: fixed;
}
#title{
    text-align: center;
    padding: 0.8rem 0;
    font-size: 3rem;
    color: rgb(7, 34, 70);
    background: rgba(125, 192, 201, 0.45);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.questions{
    margin: 3rem auto;
    width: 90vw;
    padding: 2rem;
    cursor: default;
    border-radius: 1rem;
}
.to-flex{
    display: flex;
}
#question{
    margin-bottom: 2rem;
    padding:0 2rem 2rem 0;
    flex: 85%;
}
#life{
    margin-bottom: 2rem;
    flex: 15%;
    color: rgb(238, 80, 80);
}
.option{
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    border-bottom: solid 0.1rem blue;
    width: 30rem;
    background: lightblue;
    border-radius: 1rem;
}
.option:hover{
    color: white;
}
#ol-list{
    flex: 85%;
}
#ul-list{
    flex: 15%;
}
ol{
    position: relative;
    padding: 0 1.5rem;
    color: rgb(1,73,73);
}
span{
    display: block;
    padding: 0.5rem 0.7rem;
    border-radius: 1rem;
}
#answer{
    margin-top: 2.5rem;
}
#stat{
    margin-top: 1.5rem;
    color: rgb(6,17,168);
}
.buttons{
    text-align: center;
}
button{
    margin: 0 .5rem;
    padding: 0.5rem 1.5rem;
    border: none;
    outline: none;
    font-size: 1.5rem;
    border-radius: 1.5rem;
    color: white;
    background: rgba(15, 153, 50, 0.82);
}
button:active{
    background: lavender;
}
#scoreboard,#answerBank{
    width: 50rem;
    background: rgba(230,230,250,0.77);
    padding: 2rem;
    text-align: center;
    margin: auto;
    position: relative;
    top: 5rem;
    display: none;
}
#score-title{
    margin: 1rem 0;
}
#score-btn,#check-answer{
    margin-top: 1rem;
}
#score{
    font-size: 2.5rem;
}
#answerBank li{
    text-align: left;
    margin-bottom: 0.2rem;
    font-size: larger;
}
#answers{
    margin-top: 1rem;
}
.flex-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 75px;
    margin-top: 10px;
}
.mr-20{
    margin-right: 20px;
}
#price{
    margin: 0 30px;
    background-color: white;
    border-radius: 1rem;
    border: 2px solid black;
}
#price div{
    padding: 10px;
    text-align: center;
    font-size: 20px;
}
#price div:nth-child(1){
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
#price div:nth-child(5){
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.opacity {
    opacity: 0.4;
}
